<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
<!--    Welcome to {{ title }}!-->
  </h1>
</div>
<form class="wrapper-form">
  <mat-form-field style="width: 50%" class="">
    <input (keyup)="onChange($event)" matInput placeholder="Enter your word or words" value="">
  </mat-form-field>
</form>

<p>Всего символов: <span>{{length}}</span></p>
<p>Всего гласных: <span>{{vowels}}</span></p>
<p>Всего согласных: <span>{{consonants}}</span></p>
<p>Всего знаков: <span>{{signs}}</span></p>

<router-outlet></router-outlet>
